<div class="principal">
  <div class="logo">

    <img class="bandeira" src="/icons8-brasil-emoji-48.png" (click)="changeLanguage('pt')">

    <img class="bandeira" src="/icons8-emoji-dos-estados-unidos-48.png" (click)="changeLanguage('en')">
  </div>
  <div class="joao">
    <img (click)="reloadPage()"  src="/image-removebg-preview.png">
  </div>
      <div class="card">
        <p><span>{{'ABOUT' | translate}}</span></p>
        <p><span>{{'SKILLS' | translate}}</span></p>
        <p><span>{{'PROJECTS' | translate}}</span></p>
    </div>
</div>
