<div class="dyn">
  <div class="mainbox">
    <div class="box-content">
      <div class="grid">
        <div class="col-6">
            <div class="text-center p-3 border-round-sm  font-bold">
              <div class="card w-full">
                <div class="header">
                  <div class="img-box">
                    <img src="/hefesto.jpg" [style]="{width: '70px'}">
                  </div>
                  <span class="title">Hefesto
                  </span>
                </div>

                <div class="content">
                  <p>
                    {{'HEFESTO' | translate}}
                  </p>

                  <div class="flex gap-1 flex-row">
                    <a href="https://github.com/joaomn/Nascar" target="_blank">Front-end Repository</a>
                    <a href="https://github.com/joaomn/Mustang" target="_blank">Back-end Repository</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center p-3 border-round-sm  font-bold">
              <div class="card w-full">
                <div class="header">
                    <div class="img-box">
                      <img src="/delfos.jpeg">
                    </div>
                    <span class="title justify-content-center">Delfos
                </span></div>

                <div class="content">
                    <p>
                        {{'DELFOS' | translate}}
                    </p>

                    <a  href="https://github.com/joaomn/Delfos" target="_blank">Read More...</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6">
            <div class="">
              <div class="card w-full">
                <div class="header">
                    <div class="img-box">
                      <img src="/farolacad.png" [style]="{width: '50px'}">
                    </div>
                    <span class="title">FarolAcad
                </span></div>

                <div class="content">
                    <p>
                        {{'FAROL' | translate}}
                    </p>

                    <div class="flex gap-1 flex-row">
                      <a href="https://github.com/joaomn/FarolApp" target="_blank">Front-end Repository</a>
                      <a href="https://github.com/joaomn/TrailB" target="_blank">Back-end Repository</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 justify-content-center align-items-center">
            <div class="w-full justify-content-center">
              <div class="card w-full">
                <div class="header">
                    <div class="img-box">
                      <img src="/snake.jpeg" [style]="{width: '50px'}">
                    </div>
                    <span class="title">Snake-Game
                </span></div>

                <div class="content">
                    <p>
                        {{'SNAKE' | translate}}
                    </p>

                    <a  href="https://github.com/joaomn/snakegamejavaGUI" target="_blank">Read More...</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
