<div class="dyn">
  <div class="mainbox">
    <div class="grid nested-grid">
      <div class="col-8">
        <div class="grid">
          <div class="col-12">
            <div class="text-center m-2 shadow-8 ">
              <p-card header="João Araújo ">
                <p>
                  {{'WELLCOME' | translate}}
                </p>
              </p-card>
            </div>
            <div class="col-6">
              <div class="gap-3 flex">
                <p-button icon="pi pi-check" />
                <p-button label="Submit" icon="pi pi-check" />
                <p-button label="Submit" icon="pi pi-check" iconPos="right" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 joao">
        <div class="text-center p-0  h-full  joao">
          <img src="/joao_foto-removebg-preview.png">
        </div>
      </div>
    </div>
  </div>
</div>
