.dyn{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95vh;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.mainbox{
  display: flex;
  margin-top: 5rem;
  width: 90%;
  height: 85%;
  border: 2px solid #737575;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.699);
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
background: rgba( 89, 98, 108, 0.95 );
margin: 5px;
}


.mainbox:hover {
  box-shadow: 0 0 20px #3BDDC7;
  border-color: #3BDDC7;
}

.joao {
  height: 100%; /* Garante que a div ocupe toda a altura da coluna */
  overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse a altura */
}

.joao img {
  width: 100%; /* Faz a imagem ocupar toda a largura da coluna */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
  object-fit: cover; /* Mantém a proporção da imagem enquanto cobre a área */
  object-position: center 20%;
}

.card-box img{
  max-height: 250px;
  max-width: 250px;
  overflow: hidden;
}

.card-box{
  max-height: 250px;
  max-width: 250px;
}




@media (max-width: 950px) {
  .mainbox {
    overflow: scroll;
  }
}
